<!DOCTYPE html>
<html lang="en">

<head>
    {{~#if config.injectJs}}{{{config.injectJs}}}{{/if}}
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {{#if admin}}
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <!--[if IE]><link rel="SHORTCUT ICON" href="/images/favicon.png"/><![endif]-->
    {{else}}
    <link rel="icon" type="image/png" href="/favicon.png" />
    <!--[if IE]><link rel="SHORTCUT ICON" href="/favicon.ico"/><![endif]-->
    {{/if}}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    {{#if productDescription}}
    <meta name="description" content="{{snip productDescription}}">
    {{else}}
    {{#if metaDescription}}
    <meta name="description" content="{{snip metaDescription}}">
    {{else}}
    <meta name="description" content="{{snip config.cartDescription}}">
    {{/if}}
    {{/if}}
    <meta name="csrfToken" content="{{csrfToken}}">
    <meta name="keywords" content="{{config.cartTitle}}">
    <!-- CSS only -->
    {{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> --}}
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">

    <!-- JS, Popper.js, and jQuery -->
    <link rel="stylesheet" href="/stylesheets/pushy{{config.env}}.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 
    {{#if admin}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gijgo/1.9.13/combined/css/gijgo.min.css"
        integrity="sha256-bH0WSMuCFoG/dxeox/5aOWmaZl729yDg4ylckwSRTfU=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.20.2/codemirror.min.css"
        integrity="sha256-MdzaXfGXzZdeHw/XEV2LNNycipsLk4uZ0FYzO3hbuvI=" crossorigin="anonymous" />
    {{/if}}
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/css/bootstrap-tokenfield.min.css"
        integrity="sha256-4qBzeX420hElp9/FzsuqUNqVobcClz1BjnXoxUDSYQ0=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/stylesheets/codemirror-style.min.css">
    <link rel="stylesheet" href="/stylesheets/etalage.css">
    <link href="/cdn.shopify.com/s/files/1/0053/5665/0560/t/2/assets/owl.carousel.min22a5.css?v=10084739304461680995" rel="stylesheet" type="text/css" media="all" />

    {{#if admin}}
    <link rel="stylesheet" href="/stylesheets/admin{{config.env}}.css">
    {{/if}}


<link href="/cdn.shopify.com/s/files/1/0053/5665/0560/t/2/assets/themify-icons40bc.css?v=1782837867860931872" rel="stylesheet" type="text/css" media="all" />

<link href="/cdn.shopify.com/s/files/1/0053/5665/0560/t/2/assets/font-awesome.mina741.css?v=14053330696143262969" rel="stylesheet" type="text/css" media="all" />
<link href="/cdn.shopify.com/s/files/1/0053/5665/0560/t/2/assets/ionicons.minb771.css?v=18436430612067519620" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="/stylesheets/owl.carousel.min.css">
    <link href="/cdn.shopify.com/s/files/1/0053/5665/0560/t/2/assets/style271f.css?v=16524583298396696142" rel="stylesheet" type="text/css" media="all" />
    <link href="/cdn.shopify.com/s/files/1/0053/5665/0560/t/2/assets/responsive8230.css?v=11256273084078173228" rel="stylesheet" type="text/css" media="all" />

    <link rel="stylesheet" href="/stylesheets/style.css">
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    
    
    <script src="/javascripts/bootstrap.js"></script>
    
    {{#if admin}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"
        integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gijgo/1.9.13/combined/js/gijgo.min.js"
        integrity="sha256-YZhUu69bCn9uTqQyKwwQ3GyRypS7eaxp/wmVS282sDI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.20.2/codemirror.min.js"
        integrity="sha256-K1exjHe1X4MP24jRizgBaSbUDUrNhFDRSwGoEYGmtJE=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.20.2/mode/css/css.min.js"
        integrity="sha256-D5oJ11cOmRhXSYWELwG2U/XYH3YveZJr9taRYLZ2DSM=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.20.2/mode/xml/xml.min.js"
        integrity="sha256-ERFGS58tayDq5kkyNwd/89iZZ+HglMH7eYXxG1hxTvA=" crossorigin="anonymous"></script>
    {{/if}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.25.0/feather.min.js"
        integrity="sha256-NvgyqkM9Vu1DLHkzxTxXQxZNdDymUlwhXcSJEqUfPiU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"
        integrity="sha256-LlHVI5rUauudM5ZcZaD6hHPHKrA7CSefHHnKgq+/AZc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.7/js/tether.min.js"
        integrity="sha256-4lietOiwRDBKx1goZZbRiwB06L+/bPYEGDIKZt82bgg=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
    <script src="/javascripts/jquery.bootpag.min.js"></script>
    <script src="/javascripts/cssbeautify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.4/jquery.touchSwipe.min.js"></script>
    <script src="/javascripts/jquery.etalage.min.js"></script>
<script src="/cdn.shopify.com/s/files/1/0053/5665/0560/t/2/assets/owl.carousel.min29bc.js?v=7581371558069594612"></script>

    
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/common{{config.env}}.js"></script>
    <script src="/javascripts/expressCart{{config.env}}.js"></script>
    {{#if admin}}
    <script src="/javascripts/admin{{config.env}}.js"></script>
    {{/if}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/bootstrap-tokenfield.min.js"
        integrity="sha256-jdwX0QzXB7z7Xc7Vz0ovtIHWO5qIZWg0aLcGv44JDgE=" crossorigin="anonymous"></script>
    <!-- SEO data -->
    {{#if pageUrl}}
    <link rel="canonical" href="{{pageUrl}}" />
    {{else}}
    <link rel="canonical" href="{{config.baseUrl}}" />
    {{/if}}
    <meta name="referrer" content="origin" />
    {{#if @root.config.facebookAppId}}
    <meta property="fb:app_id" content="{{@root.config.facebookAppId}}" />
    {{/if}}
    <meta property="og:site_name" content="{{config.cartTitle}}" />
    {{#if result.productTitle}}
    <meta property="og:type" content="product" />
    {{else}}
    <meta property="og:type" content="website" />
    {{/if}}
    <meta property="og:title" content="{{title}}" />
    {{#if pageUrl}}
    <meta property="og:url" content="{{pageUrl}}" />
    {{else}}
    <meta property="og:url" content="{{config.baseUrl}}" />
    {{/if}}
    {{#if result.productImage}}
    <meta property="og:image" content="{{config.baseUrl}}{{result.productImage}}" />
    {{/if}}
    {{#if productDescription}}
    <meta property="og:description" content="{{snip productDescription}}">
    {{else}}
    {{#if metaDescription}}
    <meta property="og:description" content="{{snip metaDescription}}">
    {{else}}
    <meta property="og:description" content="{{snip config.cartDescription}}">
    {{/if}}
    {{/if}}
    {{#if @root.config.twitterHandle}}
    <meta property="twitter:site" content="{{@root.config.twitterHandle}}">
    {{/if}}
    {{#if result.productTitle}}
    <meta property="twitter:card" content="product" />
    {{else}}
    <meta property="twitter:card" content="summary" />
    {{/if}}
    <meta property="twitter:title" content="{{title}}" />
    {{#if pageUrl}}
    <meta property="twitter:url" content="{{pageUrl}}" />
    {{else}}
    <meta property="twitter:url" content="{{config.baseUrl}}" />
    {{/if}}
    {{#unless result.productTitle}}
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            {
                {
                    #
                    if result.productTitle
                }
            }
            "@type": "Product",
            "name": "{{result.productTitle}}",
            "offers": {
                "price": "{{result.productPrice}}",
                "priceCurrency": "{{config.currencyISO}}",
                "description": "{{snip productDescription}}",
                "sku": "{{result._id}}",
                "url": "{{pageUrl}}"
            },
            {
                {
                    else
                }
            }
            "publisher": "{{config.cartTitle}}",
            "@type": "WebSite",
            {
                {
                    /if}} { {#
                    if result.productImage
                }
            }
            "image": "{{config.baseUrl}}{{result.productImage}}",
            {
                {
                    /if}} { {#
                    if productDescription
                }
            }
            "description": "{{snip productDescription}}",
            {
                {
                    /if}} { {#
                    if result.productTitle
                }
            }
            "sku": "{{result._id}}",
            {
                {
                    /if}} { {#
                    if pageUrl
                }
            }
            "url": "{{pageUrl}}" {
                {
                    else
                }
            }
            "url": "{{config.baseUrl}}" {
                    {
                        /if}}
                    }
    </script>
    {{/unless}}
    <!-- SEO data -->
    {{~#if config.googleAnalytics}}{{{config.googleAnalytics}}}{{/if}}
    {{~#if config.customCss}}<style>
        {
                {
                    {
                    config.customCss
                }
            }
        }
    </style>{{/if}}
    {{#if admin}}
    <link rel="stylesheet" href="/stylesheets/admin{{config.env}}.css">
    {{else}}
    {{#if config.theme}}
    <link rel="stylesheet" href="/{{config.theme}}/style{{config.env}}.css">
    <script src="/{{config.theme}}/index{{config.env}}.js"></script>
    {{/if}}
    {{/if}}
</head>
{{#if admin}}

<body class="admin">
    {{else}}

    <body>
        {{/if}}
        {{#unless admin}}
        <!-- Sign in / sign up modal-->
        <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <ul class="nav nav-tabs card-header-tabs" role="tablist">
                            <li class="nav-item"><a class="nav-link active" href="#signin-tab" data-toggle="tab"
                                    role="tab" aria-selected="true"><i class="czi-unlocked mr-2 mt-n1"></i>Sign in</a>
                            </li>
                            {{!-- <li class="nav-item"><a class="nav-link" href="#signup-tab" data-toggle="tab" role="tab"
                                    aria-selected="false"><i class="czi-user mr-2 mt-n1"></i>Sign up</a></li> --}}
                        </ul>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body tab-content py-4">
                        <form class="needs-validation tab-pane fade show active" autocomplete="off" novalidate
                            id="signin-tab">
                            <div class="form-group">
                                <label for="si-email">Email address</label>
                                <input class="form-control" type="email" id="email" name="email"
                                    placeholder="johndoe@example.com" required>
                                <div class="invalid-feedback">Please provide a valid email address.</div>
                            </div>
                            <div class="form-group">
                                <label for="si-password">Password</label>
                                <div class="password-toggle">
                                    <input class="form-control" type="password" id="password" name="password" required>
                                    <label class="password-toggle-btn">
                                        <input class="custom-control-input password-show" type="checkbox"><i
                                            class="czi-eye password-toggle-indicator"></i><span class="sr-only">Show
                                            password</span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group d-flex flex-wrap justify-content-between">
                                <div class="custom-control custom-checkbox mb-2">
                                    <input class="custom-control-input" type="checkbox" id="si-remember">
                                    <label class="custom-control-label" for="si-remember">Remember me</label>
                                </div><a class="font-size-sm" href="/customer/forgot-password">Forgot password?</a>
                            </div>
                            <button class="btn btn-primary btn-block btn-shadow" id="customerloginForm"
                                type="submit">Sign in</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

      <header class="header-area gray-bg clearfix">
  <div class="header-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-6">
          <div class="logo"><a href="/" class="theme-logo">
  <img src="/cdn.shopify.com/s/files/1/0053/5665/0560/files/logo_300x300420e.png?v=1543297160" alt="Sabujcha">
</a></div>
        </div>
        <div class="col-lg-9 col-md-8 col-6">
          <div class="header-bottom-right">
            <div class="main-menu">
              <nav>
                
<ul>
  
  
  
  <li  class="dropdown-holder top-hover"  data-columns=""><a href="/"><span>Home</span></a>
    <ul class="submenu ">
      
      

      

      <li><a href="indexcdf1.html?preview_theme_id=38242287680">home version 1</a></li>
      
      
      

      

      <li><a href="indexce58.html?preview_theme_id=49288839232">home version 2</a></li>
      
      
      

      

      <li><a href="indexc9b4.html?preview_theme_id=73696116800">home version 3 <span class="newB"> New </span></a></li>
      
      
      

      

      <li><a href="indexc9d2.html?preview_theme_id=80451108928">home version 4 <span class="newB"> New </span></a></li>
      
      
      

      

      <li><a href="indexdedb.html?preview_theme_id=81783095360">home version 5 <span class="newB"> New </span></a></li>
      
      
      

      

      <li><a href="indexa0a3.html?preview_theme_id=49397858368">home version RTL</a></li>
      
      
      

      

      <li><a href="indexa5a5.html?preview_theme_id=78417002560">Landing Page <span class="newB"> New </span></a></li>
      
      
    </ul>
  </li>
  
  
  
  
  <li><a href="/customer/aboutus"><span>About</span></a></li>
  
  
  
  
  <li  class="dropdown-holder top-hover"  data-columns=""><a href="collections/all.html"><span>Shop</span></a>
    <ul class="submenu ">
      
      

      
      <li class="mega-menu-title"><a href="#" class="mega-menu-title"><h3>Grace Matcha</h3></a>
        <ul>
            
          <li><a href="products/1-new-and-sale-badge-product.html">Daily Matcha</a></li>
            
          <li><a href="products/11-product-with-video.html">Organic Matcha</a></li>
            
          <li><a href="products/demo-product-title-3.html">Nagomi Ceremonial</a></li>
            
          <li><a href="products/9-without-shortcode-product.html">Culinary Organic </a></li>
           
        </ul>
      </li>

      
      
      

      
      <li class="mega-menu-title"><a href="#" class="mega-menu-title"><h3>Encha Matcha</h3></a>
        <ul>
            
          <li><a href="products/8-countdown-product.html">Kokoro Ceremonial</a></li>
            
          <li><a href="products/aliexpress-dropshipping-by-oberlo-cpy.html">Mizuba Matcha Set</a></li>
            
          <li><a href="products/demo-product-title-2.html">Chawan Matcha Tea</a></li>
            
          <li><a href="products/demo-product-title-1.html">Matcha  Chawan Tea</a></li>
           
        </ul>
      </li>

      
      
      

      
      <li class="mega-menu-title"><a href="#" class="mega-menu-title"><h3>Tea Tools</h3></a>
        <ul>
            
          <li><a href="products/dummy-text-for-title-1.html">Whisk Chasen Bamboo</a></li>
            
          <li><a href="products/dummy-text-for-title-2.html">Chashaku Matcha Scop</a></li>
            
          <li><a href="products/dummy-text-for-title-3.html">Matcha Tea Bowl</a></li>
            
          <li><a href="products/dummy-text-for-title.html">Nice  Insulated Mug</a></li>
           
        </ul>
      </li>

      
      
      

      
      <li class="mega-menu-title"><a href="#" class="mega-menu-title"><h3>Mizuba Tea</h3></a>
        <ul>
            
          <li><a href="products/product-dummy-title-4.html">full Patterned Chawan</a></li>
            
          <li><a href="products/product-title-here.html">Ocean Horizon Chawan</a></li>
            
          <li><a href="products/product-title-here-2.html">Black Stripe Chawan</a></li>
            
          <li><a href="products/demo-product-title-1.html">Lava Flow Chawan</a></li>
           
        </ul>
      </li>

      
      
    </ul>
  </li>
  
  
  
  
  <li  class="dropdown-holder top-hover"  data-columns=""><a href="#"><span>Product</span></a>
    <ul class="submenu ">
      
      

      

      <li><a href="products/5-simple-product.html">Simple product</a></li>
      
      
      

      

      <li><a href="products/3-variable-product.html">Variable Product</a></li>
      
      
      

      

      <li><a href="products/7-sample-affiliate-product.html">Affiliate product</a></li>
      
      
      

      

      <li><a href="products/4-soldout-product.html">Soldout product</a></li>
      
      
      

      

      <li><a href="products/8-countdown-product.html">Countdown product</a></li>
      
      
    </ul>
  </li>
  
  
  
  
  <li  class="dropdown-holder top-hover"  data-columns=""><a href="blogs/news.html"><span>Blog</span></a>
    <ul class="submenu ">
      
      

      

      <li><a href="blogs/news.html">Blog Left sidebar</a></li>
      
      
      

      

      <li><a href="blogs/news/new-collection-our-shop-1.html">Blog post</a></li>
      
      
    </ul>
  </li>
  
  
  
  
  <li><a href="/customer/contact"><span>Contact</span></a></li>
  
  
</ul>

<script>
  $('.mega-menu-title').parent('ul').addClass('mega-menu');
  $('.mega-menu').parent('li').addClass('mega-menu-position top-hover');
</script>


              </nav>
            </div><div class="header-currency">
             
              <span class="currency-trigger dropdown-toggle digit">
                <span class="current-currency">USD</span>
              </span>
              <div class="dollar-submenu"><div class="switcher-currency-trigger currency">
  
  <ul class="switcher-dropdown">
    
    
    
    
    <li data-currency="USD" class="currency__item"><a style="cursor: pointer">USD - US Dollar</a></li>
    
    
    
    
    <li data-currency="EUR" class="currency__item"><a style="cursor: pointer">EUR - Euro</a></li>
    
    
    
    
    <li data-currency="GBP" class="currency__item"><a style="cursor: pointer">GBP - British Pound</a></li>
    
    
    
    
    <li data-currency="INR" class="currency__item"><a style="cursor: pointer">INR - Indian Rupee</a></li>
    
    
    
    
    <li data-currency="BDT" class="currency__item"><a style="cursor: pointer">BDT - Bangladesh Taka</a></li>
    
    
    
    
    <li data-currency="JPY" class="currency__item"><a style="cursor: pointer">JPY - Japan Yen</a></li>
    
    
    
    
    <li data-currency="CAD" class="currency__item"><a style="cursor: pointer">CAD - Canada Dollar</a></li>
    
    
    
    
    <li data-currency="AUD" class="currency__item"><a style="cursor: pointer">AUD - Australian Dollar</a></li>
    
  </ul>
</div></div>
            </div><div class="header-cart">



<a href="cart.html">
  <div class="cart-icon"><span class="count bigcounter">{{@root.session.totalCartItems}}</span>
    <i class="ti-shopping-cart"></i>
  </div>
</a>



<div class="header-minicart shopping-cart-content minicart">
  {{#unless @root.session.cart}}
  <div class="cart-empty-title"  style="display:block;">
    <h3>Your cart is currently empty.</h3>
  </div>
  {{/unless}}


  <div class="single-product-cart"  style="">

    <ul class="minicart-header single-cart-item-loop do-nicescrol">
      {{#if @root.session.cart}}
      {{#each @root.session.cart}}
      <li class="single-shopping-cart">
                                                <div class="shopping-cart-img">
                                                    <a href="#"><img alt="" src="{{this.productImage.[0].path}}"></a>
                                                </div>
                                                <div class="shopping-cart-title">
                                                    <h4><a href="#">{{this.title}} </a></h4>
                                                    <h6>Qty: {{this.quantity}}</h6>
                                                    <span>₹{{this.totalItemPrice}}</span>
                                                </div>
                                                <div class="shopping-cart-delete">
                                                    <a href="#" class=""><i class="ion ion-close btn-delete-from-cart" data-cartid={{this.productId}}></i></a>
                                                </div>
                                            </li>
                                            {{/each}}
                                            {{/if}}
    </ul>

    <div class="shopping-cart-total">
      <h4>Total  <span class="shop-total shopping-cart__total"><span class=money>₹{{@root.session.totalCartAmount}}</span></span></h4>
    </div>

    <div class="shopping-cart-btn">
      <a href="/checkout/cart">View Cart</a>
      <a href="/checkout/information">Checkout</a>
    </div>
    
    
  </div>

</div></div>
          </div>
        </div>
      </div>
      <div class="mobile-menu-area">
        <div class="mobile-menu">
  <nav id="mobile-menu-active">
    <ul class="menu-overflow">
      

      

      
      <li class="cr-dropdown"><a href="index.html">Home</a>

        <ul>
          
          
          

          <li class=""><a href="indexcdf1.html?preview_theme_id=38242287680">home version 1</a></li>
          
          
          
          

          <li class=""><a href="indexce58.html?preview_theme_id=49288839232">home version 2</a></li>
          
          
          
          

          <li class=""><a href="indexc9b4.html?preview_theme_id=73696116800">home version 3 <span class="newB"> New </span></a></li>
          
          
          
          

          <li class=""><a href="indexc9d2.html?preview_theme_id=80451108928">home version 4 <span class="newB"> New </span></a></li>
          
          
          
          

          <li class=""><a href="indexdedb.html?preview_theme_id=81783095360">home version 5 <span class="newB"> New </span></a></li>
          
          
          
          

          <li class=""><a href="indexa0a3.html?preview_theme_id=49397858368">home version RTL</a></li>
          
          
          
          

          <li class=""><a href="indexa5a5.html?preview_theme_id=78417002560">Landing Page <span class="newB"> New </span></a></li>
          
          
        </ul>

      </li>

      
      

      

      

      <li><a href="pages/about.html">About</a></li>
      
      

      

      
      <li class="cr-dropdown"><a href="collections/all.html">Shop</a>

        <ul>
          
          
          
          <li class="cr-sub-dropdown sub-style"><a href="#">Grace Matcha</a>
            <ul>
                
              <li><a href="products/1-new-and-sale-badge-product.html">Daily Matcha</a></li>
                
              <li><a href="products/11-product-with-video.html">Organic Matcha</a></li>
                
              <li><a href="products/demo-product-title-3.html">Nagomi Ceremonial</a></li>
                
              <li><a href="products/9-without-shortcode-product.html">Culinary Organic </a></li>
              
            </ul>
          </li>

          
          
          
          
          <li class="cr-sub-dropdown sub-style"><a href="#">Encha Matcha</a>
            <ul>
                
              <li><a href="products/8-countdown-product.html">Kokoro Ceremonial</a></li>
                
              <li><a href="products/aliexpress-dropshipping-by-oberlo-cpy.html">Mizuba Matcha Set</a></li>
                
              <li><a href="products/demo-product-title-2.html">Chawan Matcha Tea</a></li>
                
              <li><a href="products/demo-product-title-1.html">Matcha  Chawan Tea</a></li>
              
            </ul>
          </li>

          
          
          
          
          <li class="cr-sub-dropdown sub-style"><a href="#">Tea Tools</a>
            <ul>
                
              <li><a href="products/dummy-text-for-title-1.html">Whisk Chasen Bamboo</a></li>
                
              <li><a href="products/dummy-text-for-title-2.html">Chashaku Matcha Scop</a></li>
                
              <li><a href="products/dummy-text-for-title-3.html">Matcha Tea Bowl</a></li>
                
              <li><a href="products/dummy-text-for-title.html">Nice  Insulated Mug</a></li>
              
            </ul>
          </li>

          
          
          
          
          <li class="cr-sub-dropdown sub-style"><a href="#">Mizuba Tea</a>
            <ul>
                
              <li><a href="products/product-dummy-title-4.html">full Patterned Chawan</a></li>
                
              <li><a href="products/product-title-here.html">Ocean Horizon Chawan</a></li>
                
              <li><a href="products/product-title-here-2.html">Black Stripe Chawan</a></li>
                
              <li><a href="products/demo-product-title-1.html">Lava Flow Chawan</a></li>
              
            </ul>
          </li>

          
          
        </ul>

      </li>

      
      

      

      
      <li class="cr-dropdown"><a href="#">Product</a>

        <ul>
          
          
          

          <li class=""><a href="products/5-simple-product.html">Simple product</a></li>
          
          
          
          

          <li class=""><a href="products/3-variable-product.html">Variable Product</a></li>
          
          
          
          

          <li class=""><a href="products/7-sample-affiliate-product.html">Affiliate product</a></li>
          
          
          
          

          <li class=""><a href="products/4-soldout-product.html">Soldout product</a></li>
          
          
          
          

          <li class=""><a href="products/8-countdown-product.html">Countdown product</a></li>
          
          
        </ul>

      </li>

      
      

      

      
      <li class="cr-dropdown"><a href="blogs/news.html">Blog</a>

        <ul>
          
          
          

          <li class=""><a href="blogs/news.html">Blog Left sidebar</a></li>
          
          
          
          

          <li class=""><a href="blogs/news/new-collection-our-shop-1.html">Blog post</a></li>
          
          
        </ul>

      </li>

      
      

      

      

      <li><a href="pages/contact-us.html">Contact</a></li>
      
      
    </ul>
  </nav>  
</div>  
      </div>
    </div>
  </div>
</header>
        </div>
        {{/unless}}
        <div class="site-overlay"></div>

        {{!-- Full Cart Page --}}
        {{#unless admin}}
        {{#ifCond page '!=' 'checkout'}}
        {{#ifCond page '!=' 'pay'}}
        <div id="cart" class="col-md-12 pad-left-12 pushy pushy-right">
            <div class="row {{checkout}} back-checkout">
                <div class="col-sm-12">
                    <button class="pushy-link" type="button"><i class="fas fa-chevron-left"></i> Back to
                        Grocery</button>
                </div>
            </div>
            <div class="row">
                <div id="cart" class="col-md-12">
                    {{> (getTheme 'cart')}}
                    <div class="row">
                        <div id="cart" class="col-md-12">
                            {{> (getTheme 'cart')}}
                            <div class="row">
                                <div class="col-sm-12 {{showCartButtons @root.session.cart}} bottom-marg-25">
                                    <button class="btn btn-danger float-left" id="empty-cart"
                                        type="button">{{ @root.__ "Empty cart" }}</button>
                                    <a href="/checkout/information"
                                        class="btn btn-primary float-right btn-checkout">Checkout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/ifCond}}
        {{/ifCond}}
        {{/unless}}
        {{#if admin}}
        <div class="container-fluid h-100" id="container">
            <div class="row">
                {{{body}}}
            </div>
        </div>
        {{else}}
        {{{body}}}
        {{/if}}
        <input type="hidden" id="input_notify_message" value="{{message}}">
        <input type="hidden" id="input_notify_messageType" value="{{messageType}}">
        <input type="hidden" id="cartCheckout" value="{{checkout}}">
        <input type="hidden" id="cartTheme" value="{{@root.config.theme}}">
        <input type="hidden" id="currencySymbol" value="{{@root.config.currencySymbol}}">
        {{#if @root.config.maxQuantity}} <input type="hidden" id="maxQuantity"
            value="{{@root.config.maxQuantity}}">{{/if}}
        <div id="notify_message"></div>
        {{#if showFooter}}
           <div id="shopify-section-footer-top" class="shopify-section"><div class="footer-top" id="footer-top">
  <div class="container">
    <div class="row"><div class="col-lg-3 col-md-6 col-sm-6">
        <div class="footer-widget mb-40">
          <div class="footer-title mb-25"><h4 class="footer-widget-title">My Account</h4></div>
          <div class="footer-content">
            <ul><li><a href="account/index.html">My Account</a></li><li><a href="#">Order History</a></li><li><a href="pages/wishlist.html">WishList</a></li><li><a href="#">Newsletter</a></li><li><a href="#">Order History</a></li><li><a href="#">International Orders</a></li></ul>
          </div>
        </div>
      </div><div class="col-lg-3 col-md-6 col-sm-6">
        <div class="footer-widget mb-40">
          <div class="footer-title mb-25"><h4 class="footer-widget-title">Information</h4></div>
          <div class="footer-content">
            <ul><li><a href="/customer/aboutus">About Us</a></li><li><a href="/customer/aboutus">Delivery Information</a></li><li><a href="/customer/privacy">Privacy Policy</a></li><li><a href="/customer/terms">Terms & Conditions</a></li><li><a href="#">Customer Service</a></li><li><a href="/customer/privacy">Return Policy</a></li></ul>
          </div>
        </div>
      </div><div class="col-lg-3 col-md-6 col-sm-6">
        <div class="footer-widget footer-widget-red footer-black-color mb-40">
          <div class="footer-title mb-25"><h4 class="footer-widget-title">Contact Us</h4></div>
          <div class="footer-about">
            
            <p>Your current address goes to here,120 example, country.</p>
            

            <div class="footer-contact mt-20">
              <ul>
                
                <li>(008) 254 254 254 25487</li>
                
                
                <li>(008) 358 587 657 6985</li>
                
              </ul>
            </div>

            <div class="footer-contact mt-20">
              <ul>
                
                <li>support@example.com</li>
                

                
                <li>example@admin.com</li>
                
              </ul>
            </div>
          </div>
        </div>
      </div><div class="col-lg-3 col-md-6 col-sm-6">
        <div class="footer-widget footer-widget-red footer-black-color mb-40">
          <div class="footer-title mb-25"><h4 class="footer-widget-title">Find us</h4></div>
          <div class="footer_social_desc mb-25">
            
            <p>Your Description goes to here you can find us here</p>
            
          </div>
          
          <div class="footer-social-icons">

            
            <a href="#"><i class="fa fa-twitter"></i></a>        
            
            
            <a href="#"><i class="fa fa-instagram"></i></a>        
               
            
            <a href="#"><i class="fa fa-/customer/termsgoogle"></i></a>       
            
            
            <a href="#"><i class="fa fa-linkedin"></i></a>       
            
            
            <a href="#"><i class="fa fa-pinterest"></i></a>        
            
            
            
             
          </div>
        </div>
      </div></div>
  </div>
</div>
  <div id="shopify-section-footer-bottom" class="shopify-section">
<div class="footer-bottom pb-25 pt-25 gray-bg-2">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="copyright">
          <p>Copyright &copy; <a href="#" title="#">BnB Herbs</a>. All Right Reserved</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="payment-img f-right">
          <a href="#"><img src="/cdn.shopify.com/s/files/1/0053/5665/0560/files/payment6980.png?v=1543378421" alt=""></a>  
        </div>
      </div>
    </div>
  </div>
</div>





</div>
        {{/if}}
        <script src="/javascripts/pushy.min.js"></script>
        <script src="/javascripts/owl.carousel.min.js"></script>
      
        {{#if admin}}
        {{> partials/globalSearchModal}}
        {{> partials/validationModal}}
        {{> partials/variantModal}}
        {{> partials/variantEditModal}}
        {{/if}}
        {{> partials/confirmModal}}
        <script>
            feather.replace();
        </script>
        <script>
            $('.carousel-category').owlCarousel({
                loop: true,
                margin: 10,
                responsiveClass: true,
                rewind: true,
                responsive: {
                    0: {
                        items: 2,
                        nav: true
                    },
                    600: {
                        items: 3,
                        nav: false
                    },
                    1000: {
                        items: 6,
                        nav: true,
                        loop: false
                    }
                }
            })
            $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 10,
                responsiveClass: true,
                rewind: true,
                autoWidth: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: false
                    },
                    450: {
                        items: 2,
                        nav: false
                    },
                    700: {
                        items: 3,
                        nav: true
                    },
                    1000: {
                        items: 4,
                        nav: true,
                        loop: false
                    },
                    1300: {
                        items: 5,
                        nav: true,
                        loop: false
                    }
                }
            })
        </script>
    </body>

</html>