<div class="Wrapper-product top-marg-150" >
<div class="filter displaynone1">

        <div class="shop_sidebar_area">

            {{#each filters}}
            <!-- ##### Single Widget ##### -->
            <div class="widget brands bottom-marg-50">
                <!-- Widget Title -->
                <h6 class="widget-title mb-30">{{this.title}}</h6>

                <div class="widget-desc">
                    <!-- Single Form Check -->
                    {{#each this.submenu}}
                    <div class="form-check">
                        {{#ifIn this.id ../../appliedfilters}}
                        <input class="form-check-input removefilters" type="checkbox" value="{{this}}" id="amado" checked>
                        {{else}}
                        <input class="form-check-input applyfilters" type="checkbox" value="{{this}}" id="amado">
                        {{/ifIn}}
                        <label class="form-check-label" for="amado">{{this.title}}</label>
                    </div>
                    {{/each}}
                </div>
            </div>
            {{/each}}

            <!-- ##### Single Widget ##### -->
            <div class="widget price bottom-marg-50 price_filter">
                <!-- Widget Title -->
                <h6 class="widget-title mb-30">Price</h6>

                <div class="widget-disc">
                    <div id="slider-range"></div>
                    <div id="pricerange" class="top-marg-25"></div>
                    {{#if appliedprice}}
                    <input type="hidden" id="min-value" value="{{this.appliedprice.[0]}}">
                    <input type="hidden" id="max-value" value="{{this.appliedprice.[1]}}">
                    {{else}}
                    <input type="hidden" id="min-value">
                    <input type="hidden" id="max-value">
                    {{/if}}
                </div>
            </div>

            <!-- ##### Single Widget ##### -->
            {{#each categories}}
            <div class="widget catagory bottom-marg-50">
                <!-- Widget Title -->
                <h6 class="widget-title mb-30">{{this.title}}</h6>

                <!--  Catagories  -->
                <div class="catagories-menu">
                    <ul>
                        {{#each this.submenu}}
                        <li class=""><a href="/category/{{this}}">{{this}}</a></li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            {{/each}}
        </div>
</div>
<div class="productsWrapper">
    {{#if filtered}}
        <div class="product-results col-sm-12">
        <div class="dropdown show">

        <div class="pagination">
            {{#if prevPage}}
                <a href="/{{paginateUrl}}/{{searchTerm}}/{{prevPage}}{{queryString}}">&laquo;</a>
            {{else}}
            <a href="#">&laquo;</a>
            {{/if}}
            {{#each pageNumArray}}
                {{#ifCond ../pageNum '==' this}}
                    <a class="active" href="/{{../../paginateUrl}}/{{../../searchTerm}}/{{../this}}{{../../queryString}}">{{../this}}</a>
                {{else}}
                    <a href="/{{../../paginateUrl}}/{{../../searchTerm}}/{{../this}}{{../../queryString}}">{{../this}}</a>
                {{/ifCond}}
            {{/each}}
            {{#if nextPage}}
            <a href="/{{paginateUrl}}/{{searchTerm}}/{{nextPage}}{{queryString}}">&raquo;</a>
            {{else}}
            <a href="#">&raquo;</a>
            {{/if}}
        </div>
        </div>
            {{#ifCond @root.paginateUrl '==' 'category'}}
            <h1>{{ @root.__ "Category" }} - <strong>{{@root.searchTerm}}</strong> </h1>
            {{else}}
            <h1>{{ @root.__ "Search results" }} - <strong>{{@root.searchTerm}}</strong> </h1>
            {{/ifCond}}
        </div>
    {{/if}}
    <div class="row product-layout">
        {{#ifCond results.length '==' 0}}
            <div class="col-sm-12">
                <img src="/images/no-product-found.png" alt="No Product Found" class="mx-auto">
            </div>
        {{/ifCond}}
        {{#each results}}
           <div class="col-6 col-sm-6 col-md-4">
                  <div class="product-wrapper">
  <div class="product-img">
  {{#if productImage}}
    <a href="/product/{{this.productPermalink}}" class="grid__image">
      <img src="{{this.productImage.[0].path}}" alt="">
    </a>
   <!-- Hover Thumb -->
   {{#if this.productImage.[1]}}<img class="hover-img" src="{{this.productImage.[1].path}}" alt="Second Image">{{/if}}
  {{else}}
    <img src="/images/p5.jpeg" alt="First Image">
        <!-- Hover Thumb -->
    <img class="hover-img" src="/images/p1.jpeg" alt="Second Image">
   {{/if}}


     <div class="tags">
       {{#if productDiscountPrice}}
           <div class="discount">
                  {{#discount productPrice productDiscountPrice}}
                        {{this}}
                   {{/discount}}% Off
                        </div> 
                   {{/if}}
                      {{#if this.productOffer}}
                       <div class="offer">
                        {{this.productOffer}}
                         </div>
                   {{/if}}
          </div>
<span class="sale-title">Sale</span>


<span class="percent-count">-35%</span>





<div class="product-action">
      
<a class="wishlist action-wishlist" href="account/login.html" title="Wishlist">
  <i class="ion-android-favorite-outline"></i>
</a>

 
      
<a class="action-plus action-compare" title="Quick View" data-toggle="modal" data-target="#quickViewModal" href="javascript:void(0);" 
         onclick="quiqview('product-title-here-3')"><i class="ion-ios-search-strong"></i>
      </a>
      
      
    </div>
    <div class="nrb_p_countdown">
      
      
      
      <div data-countdown="2021/05/24"></div> 
      
    </div>
  </div>
  <div class="product-content text-left">
    <div class="product-hover-style">
      <div class="product-title">
        <h4>
          <a href="products/product-title-here-3.html">    {{this.productTitle}}   </a>
        </h4>
      </div>
      <div class="cart-hover"><div class="product-cart-action">
          
          
          <a class="add-to-cart ajax-spin-cart" data-id="{{this._id}}">
            <span>
              <span class="cart-title"> <i class="fa fa-plus" aria-hidden="true"></i> Add to cart</span>
              
            </span>
          </a>
          
          
        </div></div>
    </div>
    <div class="product-price-wrapper">
      <span><span class=money>&#8377;{{this.productPrice}}</span></span> 
      
      <span class="product-price-old">  <i class="ti-minus"></i>  <span class=money>&#8377;{{this.productDiscountPrice}}</span> </span>
      
    </div>
  </div>
</div>
                    </div>
        {{/each}}
    </div>
    <div class="pagination float-right">
            {{#if prevPage}}
                <a href="/{{paginateUrl}}/{{searchTerm}}/{{prevPage}}{{queryString}}">&laquo;</a>
            {{else}}
            <a href="#">&laquo;</a>
            {{/if}}
            {{#each pageNumArray}}
                {{#ifCond ../pageNum '==' this}}
                    <a class="active" href="/{{../../paginateUrl}}/{{../../searchTerm}}/{{../this}}{{../../queryString}}">{{../this}}</a>
                {{else}}
                    <a href="/{{../../paginateUrl}}/{{../../searchTerm}}/{{../this}}{{../../queryString}}">{{../this}}</a>
                {{/ifCond}}
            {{/each}}
            {{#if nextPage}}
            <a href="/{{paginateUrl}}/{{searchTerm}}/{{nextPage}}{{queryString}}">&raquo;</a>
            {{else}}
            <a href="#">&raquo;</a>
            {{/if}}
        </div>
</div> 
</div>
<button class="expand-filter">Filter<i class="fas fa-sort-amount-up-alt"></i></button>
<script>
    function addParameter(url, parameterName, parameterValue){
        replaceDuplicates = true;
        if(url.indexOf('#') > 0){
            var cl = url.indexOf('#');
            urlhash = url.substring(url.indexOf('#'),url.length);
        } else {
            urlhash = '';
            cl = url.length;
        }
        sourceUrl = url.substring(0,cl);
    
        var urlParts = sourceUrl.split("?");
        var newQueryString = "";
    
        if (urlParts.length > 1)
        {
            var filterType = urlParts[1].split('&');
            if(filterType.length > 1){
                if(parameterName == "filter"){
                    newQueryString = "?"+filterType[0] + "_" + parameterValue +"&"+ filterType[1];
                }
                else{
                    newQueryString = "?"+filterType[0]  + "&" + parameterName+"="+parameterValue;
                }
            }
            else{
                if(parameterName == filterType[0].split('=')[0] && parameterName == "filter"){
                    newQueryString = "?"+filterType[0] + "_" + parameterValue;
                }
                else if(parameterName == filterType[0].split('=')[0]){
                    newQueryString = "?"+parameterName + "=" + parameterValue;
                }
                else if(parameterName == "filter"){
                    newQueryString = "?"+parameterName + "=" + parameterValue+"&"+urlParts[1];
                }
                else{
                    newQueryString = "?"+urlParts[1] + "&" + parameterName+"="+parameterValue;
                }
            }
        }
        else{
            newQueryString = "?" + parameterName + "=" + parameterValue;
        }
        
        return urlParts[0] + newQueryString + urlhash;
    };
    $( function() {
    var min = 49;
    var max = 500;
    if($('#min-value').val && $('#min-value').val()){
        min = $('#min-value').val();
    }
    if($('#max-value').val && $('#max-value').val()){
        max = $('#max-value').val();
    }
    $( "#slider-range" ).slider({
      range: true,
      min: 49,
      max: 5000,
      values: [ min, max ],
      slide: function( event, ui ) {
        $('#pricerange')[0].innerHTML = "₹"+ui.values[0] + " - " + "₹"+ui.values[1];
        $( "#min-value" ).val( ui.values[ 0 ] );
        $( "#max-value" ).val( ui.values[ 1 ] );
      },
      stop: function( event, ui ) {
        var maxvalue = document.getElementById('max-value').value;
        var minvalue = document.getElementById('min-value').value;
        var id = minvalue+"_"+maxvalue;
        var url = addParameter(window.location.href, 'price', id);
        console.log(url);
        location.href = url;
      }
    });
    $('#pricerange')[0].innerHTML = "₹"+min + " - " + "₹"+max;
  } );
</script>
