{{#if ordershow}}
<div class="checkout-area pb-80 pt-80">
            <div class="container">
                <div class="row">
                    <div class="ml-auto mr-auto col-lg-9">
                        <div class="checkout-wrapper">
                            <div id="faq" class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title"><span>1</span> <a data-toggle="collapse" data-parent="#faq" href="#my-account-1">Order History</a></h5>
                                    </div>
                                    <div id="my-account-1" class="panel-collapse collapse show">
                                        <div class="panel-body">
                                            <div class="billing-information-wrapper">
                                                <div class="account-info-wrapper">
                                                    <h4>Order Details</h4>
                                                    <h5>Your Healty and Green Medicines</h5>
                                                </div>
                                                <div class="row">
                                                    {{#if orders}}
                                                    {{#each ../orders}}
                                <div class="card mb-3">
                                    <div class="card-header" id="headingOne">
                                        <p class="mb-0">
                                            <span class="orderid top-marg-10"><span class="id">ORDER ID</span> <span>{{this._id}}</span></span>
                                            <span class="float-right top-marg-10">DATE:- {{formatDate this.orderDate "DD/MM/YYYY hh:mmA"}}</span>
                                            {{!-- <button class="btn btn-sm btn-success float-right">
                                                {{this.orderStatus}}
                                            </button> --}}
                                        </p>
                                    </div>
                                    <div id="" class="">
                                        <div class="card-body flexcardorder">
                                            <ul class="list-group">
                                                {{#each this.orderProducts}}
                                                <li class="list-product">
                                                    <div class="orderimage">
                                                        <a href="/product/{{this.link}}">
                                                        {{#if productImage}}
                                                        <img src="{{this.productImage.[0].path}}" alt="{{this.title}} product image"></a>
                                                        {{else}}
                                                        <img src="/images/p5.jpeg" alt="{{this.title}} product image"></a>
                                                        {{/if}}</a>
                                                    </div>
                                                    <div class="producttitle">
                                                         <h5 class="bottom-marg-10">{{this.title}} x <span class="text-green"><strong>{{this.quantity}}</strong></span></h5>
                                                         	 {{currencySymbol @root.config.currencySymbol}}{{formatAmount this.totalItemPrice}}
                                                              
                                                    </div>
                                                </li>
                                                {{/each}}
                                            </ul>
                                            <ul>
                                                <li><strong>Total Amount: </strong>{{this.orderTotal}}, <strong>Shipping: </strong>{{this.orderShipping}}</li>
                                                <li><strong class="text-warning">Customer Information</strong></li>
                                                <li>{{this.orderFirstname}} {{this.orderLastname}}</li>
                                                <li>{{this.orderAddr1}} {{this.orderCity}}</li>
                                                <li>{{this.orderState}}, {{this.orderPostcode}}</li>
                                                <li>{{this.orderPhoneNumber}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div>
                                        {{#if this.orderPromoCode}}
                                        <div class="trackid">
                                            Promo Code - <span>{{this.orderPromoCode}}</span>
                                        </div>
                                        {{/if}}
                                        <div class="formlevel">
                                            {{#ifCond this.orderStatus "==" "Failed"}}
                                            <div class="stages">                 
                                                <label for="one" class="check">&check; <span class="titlelevel">Ordered</span></label>
                                                <label for="two" class="cancel">&check; <span class="titlelevel">Failed</span></label>
                                                <label for="three">3 <span class="titlelevel">Shipped</span></label>
                                                <label for="four">4 <span class="titlelevel">Delivered</span></label>
                                            </div>
                                                <span class="progress1 width2"><span></span></span>
                                            {{/ifCond}}
                                            {{#ifCond this.orderStatus "==" "Paid"}}
                                            <div class="stages">                 
                                                <label for="one" class="check">&check; <span class="titlelevel">Ordered</span></label>
                                                <label for="two" class="active check">&check; <span class="titlelevel">Paid</span></label>
                                                <label for="three">3 <span class="titlelevel">Shipped</span></label>
                                                <label for="four">4 <span class="titlelevel">Delivered</span></label>
                                            </div>
                                                <span class="progress1 width2"><span></span></span>
                                            {{/ifCond}} 
                                            {{#ifCond this.orderStatus "==" "Shipped"}}
                                            <div class="stages">                 
                                                <label for="one"class="check">&check; <span class="titlelevel">Ordered</span></label>
                                                <label for="two" class="check">&check;<span class="titlelevel">Paid</span></label>
                                                <label for="three" class="active check">&check;<span class="titlelevel">Shipped</span></label>
                                                <label for="four"> 4 <span class="titlelevel">Delivered</span></label>
                                            </div>
                                                <span class="progress1 width3"><span></span></span>
                                            {{/ifCond}}
                                            {{#ifCond this.orderStatus "==" "Completed"}}
                                            <div class="stages">                 
                                                <label for="one" class="check">&check; <span class="titlelevel">Ordered</span></label>
                                                <label for="two" class="check">&check;<span class="titlelevel">Paid</span></label>
                                                <label for="three" class="check">&check;<span class="titlelevel">Shipped</span></label>
                                                <label for="four" class="active check">&check;<span class="titlelevel">Delivered</span></label>
                                            </div>
                                                <span class="progress1 width4"><span></span></span>
                                            {{/ifCond}}             	
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                                                    {{else}}
                                                    <div class="col-lg-6 col-md-6">
                                                        <div class="billing-info">
                                                            <h6>No order till now</h6>

                                                        </div>
                                                        <div class="billing-back-btn">
                                                    <div class="billing-back">
                                                        <a href="/"><i class="ion-arrow-up-c"></i> Continue Shopping</a>
                                                    </div>
                                                </div>
                                                    </div>
                                                    {{/if}}
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</div>
{{else}}
<div class="checkout-area pb-80 pt-80">
            <div class="container">
                <div class="row">
                    <div class="ml-auto mr-auto col-lg-9">
                        <div class="checkout-wrapper">
                            <div id="faq" class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title"><span>1</span> <a data-toggle="collapse" data-parent="#faq" href="#my-account-1">Edit your account information </a></h5>
                                    </div>
                                    <div id="my-account-1" class="panel-collapse collapse show">
                                        <div class="panel-body">
                                            <div class="billing-information-wrapper">
                                                <div class="account-info-wrapper">
                                                    <h4>My Account Information</h4>
                                                    <h5>Your Personal Details</h5>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6">
                                                        <div class="billing-info">
                                                            <label>First Name</label>
                                                            <input type="text" id="shipFirstname" value="{{customer.firstName}}">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6">
                                                        <div class="billing-info">
                                                            <label>Last Name</label>
                                                            <input type="text" id="shipLastname" value="{{customer.lastName}}">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="billing-back-btn">
                                                    <div class="billing-back">
                                                        <a href="#"><i class="ion-arrow-up-c"></i> back</a>
                                                    </div>
                                                    <div class="billing-btn">
                                                        <button type="submit" id="customerSave">Continue</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title"><span>2</span> <a data-toggle="collapse" data-parent="#faq" href="#my-account-2">Change your password </a></h5>
                                    </div>
                                    <div id="my-account-2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="billing-information-wrapper">
                                                <div class="account-info-wrapper">
                                                    <h4>Change Password</h4>
                                                    <h5>Your Password</h5>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12">
                                                        <div class="billing-info">
                                                            <label>Password</label>
                                                            <input type="password" id="newCustomerPassword">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 col-md-12">
                                                        <div class="billing-info">
                                                            <label>Password Confirm</label>
                                                            <input type="password" id="newCustomerPassword2">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="billing-back-btn">
                                                    <div class="billing-back">
                                                        <a href="#"><i class="ion-arrow-up-c"></i> back</a>
                                                    </div>
                                                    <div class="billing-btn">
                                                        <button type="submit" id="passwordSave">Continue</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title"><span>3</span> <a data-toggle="collapse" data-parent="#faq" href="#my-account-3">Modify your address book entries   </a></h5>
                                    </div>
                                    <div id="my-account-3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="billing-information-wrapper">
                                                <div class="account-info-wrapper">
                                                    <h4>Address Book Entries</h4>
                                                </div>
                                               
                                                    <div class="row">
                                                    <div class="col-lg-12 col-md-12">
                                                        <div class="billing-info">
                                                            <label>Address Line</label>
                                                            <input type="text" id="shipAddr1" value="{{customer.addressline}}">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6">
                                                        <div class="billing-info">
                                                            <label>Pincode</label>
                                                            <input type="text" id="shipPostcode" value="{{customer.postcode}}">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6">
                                                        <div class="billing-info">
                                                            <label>State</label>
                                                            <input type="text" id="shipState" value="{{customer.state}}">
                                                        </div>
                                                    </div>
                                                </div>
                                             
                                                <div class="billing-back-btn">
                                                    <div class="billing-back">
                                                        <a href="#"><i class="ion-arrow-up-c"></i> back</a>
                                                    </div>
                                                    <div class="billing-btn">
                                                        <button type="submit" id="addressSave">Continue</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title"><span>4</span> <a href="/customer/account/orders">Keep Track of Orders   </a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{{/if}}