
<div class="product-layout col-sm-9 offset-sm-1">
    <div class="row">
        {{!-- Product Images --}}
        <div class="col-sm-12 col-md-6 m-auto">
            {{#if result.productImage}}

            <div class="row bg-scr">
                <ul id="etalage">
                    {{#each result.productImage}}
                    <li>
                        <img class="etalage_thumb_image" src="{{this.path}}">
                        <img class="etalage_source_image" src="{{this.path}}">
                    </li>
                    {{/each}}
                </ul>
            </div>

            <div class="row sm-scr">
                <ul id="etalage1">
                    {{#each result.productImage}}
                    <li>
                        <img class="etalage_thumb_image" src="{{this.path}}">
                        <img class="etalage_source_image" src="{{this.path}}">
                    </li>
                    {{/each}}
                </ul>
            </div>

            {{else}}
            <div class="title-image-container">
                <img src="/uploads/placeholder.png" id="product-title-image" class="product-title-image img-fluid"
                    alt="...">
            </div>
            {{/if}}
        </div>


        {{!-- Product Details --}}
        <div class="col-sm-12 col-md-6 pro-details m-auto">
            <div class="row">
                <h1 class="col-md-10 product-title text-truncate">{{result.productTitle}}</h1>
                {{#if variants}}
                <h4 class="col-md-10 product-price mp-0">{{currencySymbol config.currencySymbol}}{{variants.0.price}}
                </h4>
                {{else}}
                <div class="d-inline-flex">
                    <p class="col-md-10 mrp-top"> <span class="price">M.R.P: </span>
                        <span class="mrp">{{currencySymbol config.currencySymbol}} {{result.productDiscountPrice}}</span></p>

                    <h4 class="col-md-10 product-price mp-0"> <span class="price">Price: </span>
                        {{currencySymbol config.currencySymbol}}{{result.productPrice}}</h4>
                </div>

                <p class="taxes col-md-10">Inclusive of all taxes</p>
                {{/if}}
                {{#if variants}}
                <h4 class="col-md-10 product-option">{{ @root.__ "Options" }}</h4>
                <div class="col-md-10">
                    <select id="product_variant" class="form-control">
                        {{#each variants}}
                        <option value="{{this._id}}" data-price="{{this.price}}">{{this.title}}</option>
                        {{/each}}
                    </select>
                </div>
                {{/if}}
                {{#if config.trackStock}}
                {{#ifCond result.productStock '==' 0}}
                <div class="col-md-10">
                    <h4 class="text-danger text-center">
                        Out of stock
                    </h4>
                </div>
                {{/ifCond}}
                {{/if}}
                <div class="col-md-10 productOptions">
                    <div class="input-group">
                        <div class="input-group-prepend input-btn">
                            <button class="form-control pull-left btn-number qty-btn-minus" type="button">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="col-quan">
                            <input type="number" class="form-control add-color text-center dropdown no-pad"
                                id="product_quantity" min="1" max="10" value="1">
                        </div>
                        <div class="input-group-append input-btn">
                            <button class="form-control pull-left btn-number qty-btn-plus" type="button">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                        </div>

                        <div class="col-md-4 btnAddToCart">
                            <button class="btn btn-primary btn-block product-add-to-cart"
                                type="button">{{ @root.__ "Add to cart" }}</button>
                        </div>
                    </div>
                </div>
                <div class="features">
                    <h1 class="heading">Features</h1>
                    <div class="body_text">
                        <ul>
                            <li>Removes stains effectively</li>
                            <li>Leaves a pleasant fragrance</li>
                            <li>Has the power of 10 hands</li>
                        </ul>
                    </div>
                </div>
                {{!-- {{#if result.productComment}}
                <div class="col-md-10">
                    {{ @root.__ "Leave a comment?" }}
                    <textarea class="form-control" id="product_comment"></textarea>
                </div>
                {{/if}} --}}

            </div>
        </div>
    </div>
    
    <hr>
    <div class="row pl-0">
         <div class="descproduct">
		<div class="descheading" id="descheading">
			<h3>Description</h3>
			<h3>Reviews</h3>
			<h3>Policy</h3>
		</div>
		<div class="descriptionmain desccont">
			<p>{{{fixTags result.productDescription}}}</p>
		</div>
		<div class="reviewmain desccont">
			<div class="reviewinner">
				<h4>Customer Reviews 
                    {{#if reviewPermission}}
                    <a>WRITE A REVIEW</a>
                    {{/if}}
                    {{#if editreviewPermission}}
                    <a>EDIT REVIEW</a>
                    {{/if}}
                </h4>
				<div class="star">
						{{#forTimes result.productRating}}
                            <i class="fas fa-star i"></i>
                            {{/forTimes}}
                            {{#forTimesminus result.productRating}}
                            <i class="far fa-star i"></i>
                            {{/forTimesminus}}
						<b>Based on {{reviews.length}} Review</b>
				</div>
			</div>
            {{#if reviewPermission}}
			<div class="reviewinput displaynone checkout_details_area">
                <form action="/product/addreview" method="post">
				<h4>Write A Review</h4>
				<div class="input1">
					<label for="title">Review Title</label><br>
					<input type="text" class="form-control" id="reviewTitle" name="reviewTitle" value="" placeholder="Enter Review Title" required>
				</div>
				<label for="">Rating</label>
				<div class="star">
                                        <div class="rating-star-form">
                                            <label>
                                                <input class="radiostar" type="radio" name="stars" value="1" />
                                                <span class="icon">★</span>
                                            </label>
                                            <label>
                                                <input class="radiostar" type="radio" name="stars" value="2" />
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                            </label>
                                            <label>
                                                <input class="radiostar" type="radio" name="stars" value="3" />
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>   
                                            </label>
                                            <label>
                                                <input class="radiostar" type="radio" name="stars" value="4" />
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                            </label>
                                            <label>
                                                <input class="radiostar" type="radio" name="stars" value="5" />
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                            </label>
                                            </div>
                                    
				</div>
                <input type="hidden" name="productreviewId" id="productreviewId" value="{{result._id}}">
                {{#if result.productPermalink}}
                <input type="hidden" name="link" id="link" value="/product/{{result.productPermalink}}">
                {{else}}
                <input type="hidden" name="link" id="link" value="/product/{{result._id}}">
                {{/if}}
				<div class="inputtextarea">
					<label for="textarea">Review Must Not Exceed 150 Words</label><br>
					<textarea name="reviewtextarea" class="form-control" id="reviewtextarea" value="" placeholder="Enter the Review" required></textarea>
				</div>
				<div class="submit">
					<button class="btn amado-btn" type="submit">Submit</button>
				</div>
            </form>
			</div>
            {{/if}}
            {{#if editreviewPermission}}
            <div class="reviewinput displaynone checkout_details_area">
                <form action="/product/editreview" method="post">
				<h4>Write A Review</h4>
				<div class="input1">
					<label for="title">Review Title</label><br>
					<input type="text" class="form-control" id="reviewTitle" name="reviewTitle" value="{{rdata.title}}" required>
				</div>
				<label for="">Rating</label>
				<div class="star">
                                        <div class="rating-star-form">
                                            <label>
                                                <input class="radiostar" type="radio" name="stars" value="1" />
                                                <span class="icon">★</span>
                                            </label>
                                            <label>
                                                <input class="radiostar" type="radio" name="stars" value="2" />
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                            </label>
                                            <label>
                                                <input class="radiostar" type="radio" name="stars" value="3" />
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>   
                                            </label>
                                            <label>
                                                <input class="radiostar" type="radio" name="stars" value="4" />
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                            </label>
                                            <label>
                                                <input class="radiostar" type="radio" name="stars" value="5" />
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                            </label>
                                            </div>
                                    
				</div>
                <input type="hidden" name="productreviewId" id="productreviewId" value="{{result._id}}">
                {{#if result.productPermalink}}
                <input type="hidden" name="link" id="link" value="/product/{{result.productPermalink}}">
                {{else}}
                <input type="hidden" name="link" id="link" value="/product/{{result._id}}">
                {{/if}}
				<div class="inputtextarea">
					<label for="textarea">Review Must Not Exceed 150 Words</label><br>
					<textarea name="reviewtextarea" class="form-control" id="reviewtextarea" required>{{rdata.description}}</textarea>
				</div>
				<div class="submit">
					<button class="btn amado-btn" type="submit">Submit</button>
				</div>
            </form>
			</div>
            {{/if}}
            {{#if reviews}}
            {{#each reviews}}
			<div class="reviewabc">
					<div class="star">
							{{#forTimes this.rating}}
                            <i class="fas fa-star i"></i>
                            {{/forTimes}}
                            {{#forTimesminus this.rating}}
                            <i class="far fa-star i"></i>
                            {{/forTimesminus}}
					</div>
					<h2>{{this.title}}</h2>
					<h5>{{this.username}} on <span>{{#formatDate this.date 'LLLL'}}
                        {{this}}
                        {{/formatDate}}</span></h5>
					<p>{{this.description}} </p>
			</div>
            {{/each}}
            {{/if}}
		</div>
		<div class="shippingpolicymain desccont">
			<h2>Shipping Policy Of Company</h2>
	
			<ul>
				<li>For all the serviceable areas, the delivery time would be 5 to 7 business days. </li>
				<li>COD is available for orders between Rs. 300 and Rs.5000</li>
                <li>Shipping Charges may apply to your order</li>
                <li>24/7 Live Support</li>
            </ul>
		</div>
</div>
    </div>
    <hr>

    {{!-- Related Products --}}
    {{#if config.showRelatedProducts}}
    {{#if relatedProducts}}

    <div class="recom-slider">
        <h3 class="heading top-marg-20">Related Products
            <hr class="top-marg-20">
        </h3>
        <div class="parent-box owl-carousel">
            {{#each relatedProducts}}

            <div class="box">
                <div class="single-product">
                    <div class="product-thumb">
                        {{#if productImage}}
                        <img src="{{this.productImage.[0].path}}" alt="...">
                        {{else}}
                        <img src="/uploads/placeholder.png" alt="...">
                        {{/if}}
                        <a href="#" class="btn-round"><i class="fa fa-shopping-cart"></i></a>
                    </div>

                    <div class="product-title">
                        <h3><a href="/product/{{this._id}}">{{this.productTitle}}</a></h3>
                        <p>{{currencySymbol ../config.currencySymbol}}{{formatAmount productPrice}}
                            <span>{{currencySymbol ../config.currencySymbol}}496</span>
                        </p>
                        <span class="save">Save ₹80</span>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    {{/if}}
    {{/if}}
</div>
<input type="hidden" id="productId" value="{{result._id}}">
<input type="hidden" id="currencySymbol" value="{{currencySymbol config.currencySymbol}}">