
<div class="product-layout col-sm-11 ml-auto mr-auto top-marg-100">
    <div class="single-product-area section-padding-100 clearfix">

                <div class="row">
                    <div class="col-12 col-md-7">
                        <div class="single_product_thumb">
                            <div id="product_details_slider" class="carousel slide row" data-ride="carousel">
                                
                                <div class="carousel-inner col-sm-9 col-md-9">
                                    {{#if result.productImage}}
                                    {{#each result.productImage}}
                                    
                                    <div class="carousel-item {{#ifCond @index "==" 0}} active{{/ifCond}}">
                                        <a class="gallery_img" href="{{this.path}}">
                                            <img class="d-block w-100" src="{{this.path}}" alt="First slide">
                                        </a>
                                    </div>
                                   
                                    {{/each}}
                                
                                    {{else}}
                                    <div class="carousel-item active">
                                        <a class="gallery_img" href="/images/p1.jpeg">
                                            <img class="d-block w-100" src="/images/p1.jpeg" alt="First slide">
                                        </a>
                                    </div>
                                    <div class="carousel-item">
                                        <a class="gallery_img" href="/images/p5.jpeg">
                                            <img class="d-block w-100" src="/images/p5.jpeg" alt="Second slide">
                                        </a>
                                    </div>
                                    <div class="carousel-item">
                                        <a class="gallery_img" href="/images/p5.jpeg">
                                            <img class="d-block w-100" src="/images/p5.jpeg" alt="Third slide">
                                        </a>
                                    </div>
                                    <div class="carousel-item">
                                        <a class="gallery_img" href="/images/p1.jpeg">
                                            <img class="d-block w-100" src="/images/p1.jpeg" alt="Fourth slide">
                                        </a>
                                    </div>
                                    {{/if}}
                                </div>
                                <div class="carousel-indicators col-sm-2 col-md-2 mt-4">
                                    {{#if result.productImage}}
                                    {{#each result.productImage}}
                                    
                                    <li class="{{#ifCond @index "==" 0}}active{{/ifCond}}"  data-target="#product_details_slider" data-slide-to="{{@index}}" style="background-image: url({{this.path}});max-width: 100px">
                                    </li>
                                   
                                    {{/each}}
                                 
                                    {{else}}
                                    <li class="active" data-target="#product_details_slider" data-slide-to="0" style="background-image: url(/images/p1.jpeg);">
                                    </li>
                                    <li data-target="#product_details_slider" data-slide-to="1" style="background-image: url(/images/p5.jpeg);">
                                    </li>
                                    <li data-target="#product_details_slider" data-slide-to="2" style="background-image: url(/images/p5.jpeg);">
                                    </li>
                                    <li data-target="#product_details_slider" data-slide-to="3" style="background-image: url(/images/p1.jpeg);">
                                    </li>
                                    {{/if}}
                                </div>
                            </div>
                           
                        </div>
                    </div>
                    <div class="col-12 col-md-5">
                        <div class="single_product_desc">
                            <!-- Product Meta Data -->
                            <div class="product-meta-data">
                                <div class="line"></div>
                                <p class="product-price">{{currencySymbol config.currencySymbol}}{{result.productPrice}}</p>
                                <a href="#">
                                    <h6>{{result.productTitle}}</h6>
                                </a>
                                <!-- Ratings & Review -->
                                <div class="ratings-review mb-15 d-flex align-items-center justify-content-between">
                                    <div class="ratings">
                                        {{#forTimes result.productRating}}
                                          <i class="fas fa-star i"></i>
                                          {{/forTimes}}
                                          {{#forTimesminus result.productRating}}
                                           <i class="far fa-star i"></i>
                                          {{/forTimesminus}}
                                          <small>Based on {{reviews.length}} Reviews</small>
                                    </div>
                                    <div class="review">
                                        <a href="#descheading">Write A Review</a>
                                    </div>
                                </div>
                                <!-- Avaiable -->
                                {{#if result.productStock}}
                                <p class="avaibility top-marg-5"><i class="fa fa-circle"></i> In Stock</p>
                                <small>({{result.productStock}}) pcs left</small>
                                {{else}}
                                <p class="avaibility non-avaibility"><i class="fa fa-circle"></i> Not In Stock</p>
                                {{/if}}
                            </div>

                            <div class="short_overview my-4">
                                <p>{{result.productMiniDescription}}</p>
                            </div>

                            <!-- Add to Cart Form -->
                            <div class="cart clearfix">
                                <div class="cart-btn d-flex bottom-marg-20">
                                    <p>Qty</p>
                                    <div class="quantity">
                                        <span class="qty-minus" onclick="var effect = document.getElementById('product_quantity'); var qty = effect.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 1 ) effect.value--;return false;"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                                        <input type="number" class="qty-text" id="product_quantity" step="1" min="1" max="300" name="quantity" value="1">
                                        <span class="qty-plus" onclick="var effect = document.getElementById('product_quantity'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
                                    </div>
                                    {{!-- {{#if result.productStock}} --}}
                                        <button  name="addtocart" value="5" class="btn btn-success product-add-to-cart marg-left-20">Add to cart</button>
                                        {{!-- {{else}}
                                        <button class="btn btn-success .marg-left-20" disabled>Coming Soon</button>
                                        {{/if}} --}}
                                </div>
                                
                            </div>

                            {{!-- Offers --}}
                            <div class="promooffers">
                                <h6> <strong class="text-danger">Note:</strong> The Product Image shown is for reference purpose only. The real product may be different because of the climate, season and surrounding conditions.</h6>
                                
                            </div>

                        {{!-- <div class="col-md-4 btnAddToCart">
                            <button class="btn btn-primary btn-block product-add-to-cart" 
                                type="button">{{ @root.__ "Add to cart" }}</button>
                        </div> --}}
                    </div>
                </div>
        </div>
    
  
    <div class="row pl-0">
         <div class="descproduct">
		<div class="descheading" id="descheading">
			<h3>Description</h3>
			<h3>Reviews</h3>
			<h3>Policy</h3>
		</div>
		<div class="descriptionmain desccont">
			<p>{{{fixTags result.productDescription}}}</p>
		</div>
		<div class="reviewmain desccont">
			<div class="reviewinner">
				<h4>Customer Reviews 
                    {{#if reviewPermission}}
                    <a>WRITE A REVIEW</a>
                    {{/if}}
                    {{#if editreviewPermission}}
                    <a>EDIT REVIEW</a>
                    {{/if}}
                </h4>
				<div class="star">
						{{#forTimes result.productRating}}
                            <i class="fas fa-star i"></i>
                            {{/forTimes}}
                            {{#forTimesminus result.productRating}}
                            <i class="far fa-star i"></i>
                            {{/forTimesminus}}
						<b>Based on {{reviews.length}} Review</b>
				</div>
			</div>
            {{#if reviewPermission}}
			<div class="reviewinput displaynone checkout_details_area">
                <form action="/product/addreview" method="post">
				<h4>Write A Review</h4>
				<div class="input1">
					<label for="title">Review Title</label><br>
					<input type="text" class="form-control" id="reviewTitle" name="reviewTitle" value="" placeholder="Enter Review Title" required>
				</div>
				<label for="">Rating</label>
				<div class="star">
                                        <div class="rating-star-form">
                                            <label>
                                                <input class="radiostar" type="radio" name="stars" value="1" />
                                                <span class="icon">★</span>
                                            </label>
                                            <label>
                                                <input class="radiostar" type="radio" name="stars" value="2" />
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                            </label>
                                            <label>
                                                <input class="radiostar" type="radio" name="stars" value="3" />
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>   
                                            </label>
                                            <label>
                                                <input class="radiostar" type="radio" name="stars" value="4" />
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                            </label>
                                            <label>
                                                <input class="radiostar" type="radio" name="stars" value="5" />
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                            </label>
                                            </div>
                                    
				</div>
                <input type="hidden" name="productreviewId" id="productreviewId" value="{{result._id}}">
                {{#if result.productPermalink}}
                <input type="hidden" name="link" id="link" value="/product/{{result.productPermalink}}">
                {{else}}
                <input type="hidden" name="link" id="link" value="/product/{{result._id}}">
                {{/if}}
				<div class="inputtextarea">
					<label for="textarea">Review Must Not Exceed 150 Words</label><br>
					<textarea name="reviewtextarea" class="form-control" id="reviewtextarea" value="" placeholder="Enter the Review" required></textarea>
				</div>
				<div class="submit">
					<button class="btn amado-btn" type="submit">Submit</button>
				</div>
            </form>
			</div>
            {{/if}}
            {{#if editreviewPermission}}
            <div class="reviewinput displaynone checkout_details_area">
                <form action="/product/editreview" method="post">
				<h4>Write A Review</h4>
				<div class="input1">
					<label for="title">Review Title</label><br>
					<input type="text" class="form-control" id="reviewTitle" name="reviewTitle" value="{{rdata.title}}" required>
				</div>
				<label for="">Rating</label>
				<div class="star">
                                        <div class="rating-star-form">
                                            <label>
                                                <input class="radiostar" type="radio" name="stars" value="1" />
                                                <span class="icon">★</span>
                                            </label>
                                            <label>
                                                <input class="radiostar" type="radio" name="stars" value="2" />
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                            </label>
                                            <label>
                                                <input class="radiostar" type="radio" name="stars" value="3" />
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>   
                                            </label>
                                            <label>
                                                <input class="radiostar" type="radio" name="stars" value="4" />
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                            </label>
                                            <label>
                                                <input class="radiostar" type="radio" name="stars" value="5" />
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                                <span class="icon">★</span>
                                            </label>
                                            </div>
                                    
				</div>
                <input type="hidden" name="productreviewId" id="productreviewId" value="{{result._id}}">
                {{#if result.productPermalink}}
                <input type="hidden" name="link" id="link" value="/product/{{result.productPermalink}}">
                {{else}}
                <input type="hidden" name="link" id="link" value="/product/{{result._id}}">
                {{/if}}
				<div class="inputtextarea">
					<label for="textarea">Review Must Not Exceed 150 Words</label><br>
					<textarea name="reviewtextarea" class="form-control" id="reviewtextarea" required>{{rdata.description}}</textarea>
				</div>
				<div class="submit">
					<button class="btn amado-btn" type="submit">Submit</button>
				</div>
            </form>
			</div>
            {{/if}}
            {{#if reviews}}
            {{#each reviews}}
			<div class="reviewabc">
					<div class="star">
							{{#forTimes this.rating}}
                            <i class="fas fa-star i"></i>
                            {{/forTimes}}
                            {{#forTimesminus this.rating}}
                            <i class="far fa-star i"></i>
                            {{/forTimesminus}}
					</div>
					<h2>{{this.title}}</h2>
					<h5>{{this.username}} on <span>{{#formatDate this.date 'LLLL'}}
                        {{this}}
                        {{/formatDate}}</span></h5>
					<p>{{this.description}} </p>
			</div>
            {{/each}}
            {{/if}}
		</div>
		<div class="shippingpolicymain desccont">
			<h2>Shipping Policy Of Company</h2>
	
			<ul>
				<li>For all the serviceable areas, the delivery time would be 5 to 7 business days. </li>
				<li>COD is available for orders between Rs. 300 and Rs.5000</li>
                <li>Shipping Charges may apply to your order</li>
                <li>24/7 Live Support</li>
            </ul>
		</div>
</div>
    </div>
    <hr>

    {{!-- Related Products --}}
    {{#if config.showRelatedProducts}}
    {{#if relatedProducts}}

    <div class="recom-slider">
        <h3 class="heading top-marg-20">Related Products
            <hr class="top-marg-20">
        </h3>
        <div class="parent-box owl-carousel">
            {{#each relatedProducts}}

            <div class="box">
                <div class="single-product">
                    <div class="product-thumb">
                        {{#if productImage}}
                        <img src="{{this.productImage.[0].path}}" alt="...">
                        {{else}}
                        <img src="/uploads/placeholder.png" alt="...">
                        {{/if}}
                        <a href="#" class="btn-round"><i class="fa fa-shopping-cart"></i></a>
                    </div>

                    <div class="product-title">
                        <h3><a href="/product/{{this._id}}">{{this.productTitle}}</a></h3>
                        <p>{{currencySymbol ../config.currencySymbol}}{{formatAmount productPrice}}
                            <span>{{currencySymbol ../config.currencySymbol}}496</span>
                        </p>
                        <span class="save">Save ₹80</span>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    {{/if}}
    {{/if}}
</div>
<input type="hidden" id="productId" value="{{result._id}}">
<input type="hidden" id="currencySymbol" value="{{currencySymbol config.currencySymbol}}">